<% if current_user == @user %>
  <h2>過去のトレーニング記録一覧</h2>
<% else %>
  <h2><%= @user.name %>さん過去のトレーニング記録一覧</h2>
<% end %>
<ul class="list-group">
<% @past_records_by_date.each do |date, records| %>
  <li class="list-group-item">
    <% display_names = records.map(&:name).join("、 ") %>
    <%= link_to user_past_record_path(@user, date: date.strftime("%Y-%m-%d")), class: "text-decoration-none text-dark" do %>
      <span class="mr-2"><%= date.strftime("%Y年%m月%d日") %></span>
      <span class="mr-2">|</span>
      <%= display_names.length > 50 ? truncate(display_names, length: 50, omission: '...') : display_names %>
    <% end %>
  </li>
<% end %>
</ul>
<div class="mt-3"><%= paginate @past_records_by_date %></div>
