<h2 class="mb-4 text-center"><%= @date %>のトレーニング</h2>
<div class="row">
  <% @grouped_records_for_date.each do |name, records| %>
  <% unless records.empty? %>
      <div class="col-md-6 mb-4">
        <table class="table table-bordered">
          <thead>
            <tr class="thead-dark">
              <th colspan="6" class="text-center"><%= name %></th>
            </tr>
            <tr>
              <th class="col-1 text-center"></th>
              <th class="col-2 text-center">重量</th>
              <th class="col-2 text-center">回数</th>
              <th class="text-center">メモ</th>
              <th class="col-2 text-center"></th>
              <th class="col-2 text-center"></th>
            </tr>
          </thead>
          <tbody>
            <% records.each do |record| %>
              <tr class="record-row">
                <td class="text-center"><%= record[:set] %></td>
                <td class="text-center"><%= record[:weight] %></td>
                <td class="text-center"><%= record[:rep] %></td>
                <td><%= record[:memo] %></td>
                <td class="text-center"><button class="edit-btn btn btn-x btn-info">編集</button></td>
                <td class="text-center"><%= link_to "削除", user_past_record_path(@user, @date), method: :delete, class: "btn btn-danger" %></td>
              </tr>
              <tr class="form-row" style="display:none;">
                <td></td>
                <td class="text-center">
                  <%= form_with model: record, url: user_past_record_path(@user, @date), method: :patch do |f| %>
                    <%= f.text_field :weight, size:"2", class: "form-control mb-1" %>
                    <%= f.submit "保存", class: "form-control" %>
                  <% end %>
                </td>
                <td class="text-center">
                  <%= form_with model: record, url: user_past_record_path(@user, @date), method: :patch do |f| %>
                    <%= f.text_field :rep, size:"2", class: "form-control mb-1" %>
                    <%= f.submit "保存", class: "form-control" %>
                  <% end %>
                </td>
                <td class="text-center">
                  <%= form_with model: record, url: user_past_record_path(@user, @date), method: :patch do |f| %>
                    <%= f.text_field :memo, size:"9", class: "form-control mb-1" %>
                    <%= f.submit "保存", class: "form-control" %>
                  <% end %>
                </td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var editButtons = document.querySelectorAll('.edit-btn');
  editButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      var row = this.closest('.record-row');
      var formRow = row.nextElementSibling;

      row.style.display = 'none';
      formRow.style.display = 'table-row';
    });
  });
});
</script>