<div class="container">
  <h2 class="text-center"><%= @group.title %>のメンバー一覧</h1>
  <div class="row">
    <% @group.members.each do |member| %>
      <div class="col text-center">
        <%= link_to user_path(member.user) do %>
          <p><%= image_tag member.user.get_profile_image(180, 180), class: "rounded-circle mx-1 my-4" %></p>
          <p><%= member.user.name %></p>
        <% end %>
        <% if @group.owner_id == current_user.id %>
          <%= link_to "グループから削除", user_group_member_path(@group, member), method: :delete, data: { confirm: "本当にこのメンバーを削除しますか？" }, class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>