<div class="row">
  <div class="col text-center">
      <h1><%= @user.name %>さんのページ</h1>
  </div>
</div>
<div class="row my-4">
  <div class="col-md-3 offset-md-3">
    <%= image_tag @user.get_profile_image(180, 180), class: "img-fluid" %>
  </div>
  <div class="col-md-6">
    <p><%= @user.name %></p>
    <p><%= @user.introduction %></p>
  </div>
</div>

<div class="row mt-4">
  <div class="col text-center">
      <%= link_to "退会させる", withdraw_admin_user_path(@user), data: { confirm: "本当に退会させますか？" }, method: :patch, class: "btn btn-danger" %>
  </div>
</div>