<h2 class="text-center"><%= @user_title || @group.title %>のメンバー一覧</h2>
<div class="row">
  <% @users.reject { |user| user.guest_user? }.each do |user| %>
    <div class="col text-center">
      <%= link_to user_path(user) do %>
        <p><%= image_tag user.get_profile_image(180), class: "rounded-circle mx-1 my-4" %></p>
        <p><%= user.name %></p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="mx-auto"><%= paginate @users %></div>