<div class="container my-4">
  <div class="row">
    <div class="col text-center">
      <% if @user == current_user %>
        <h1>Mypage</h1>
      <% else %>
        <h1><%= @user.name %>さんのページ</h1>
      <% end %>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-3 offset-md-2">
      <%= image_tag @user.get_profile_image(180, 180), class: "img-fluid" %>
    </div>
    <div class="col-md-6">
      <h3 class="ml-3"><%= @user.name %></h3>
      <div class="row">
        <div class="col-md-6 mb-3 d-flex justify-content-around align-items-end">
          <%= link_to "#{@user.followings.count} フォロー中", user_followings_path(@user), class: "mr-2" %>
          <%= link_to "#{@user.followers.count} フォロワー", user_followers_path(@user) %>
        </div>
        <% unless current_user == @user %>
          <div class="col-md-6 mb-2">
            <% if current_user.following?(@user) %>
              <%= link_to user_relationships_path(@user.id), method: :delete, class: "btn btn-danger mr-2" do %>
                フォロー解除
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(@user.id), method: :post, class: "btn btn-success" do %>
                フォロー
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <p><%= @user.introduction %></p>
      <% unless @user.guest_user? %>
        <%= link_to "ブックマーク", favorites_user_path(@user), class: "btn btn-secondary mr-2" %>
        <%= link_to "トレーニング記録", user_records_path(@user), class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
  <% unless current_user.guest_user? %>
    <h3 class="text-center my-4"><%= @user.name %>さんが参加しているグループ</h3>
  <% end %>
  <div class="row my-4">
    <% @user.groups.each do |group| %>
      <div class="col-md-3 mb-4">
        <div class='card h-100 d-flex flex-column'>
          <%= image_tag group.get_group_image(500,500), class: "card-img-top" %>
          <div class='card-body'>
            <h5 class='card-title'>
              <%= link_to_group(group) %>
            </h5>
          </div>
          <div class="mt-auto p-3">
            <span class="badge badge-warning"><%= group.genre.name %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <% unless current_user.guest_user? || !(@user == current_user) %>
        <%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary mr-2" %>
        <%= link_to "退会する", withdraw_user_path(current_user), data: { confirm: "本当に退会しますか？" }, method: :patch, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
