<div class="container my-4">
  <div class="row">
    <div class="col text-center">
      <% if @user == current_user %>
        <h1>Mypage</h1>
      <% else %>
        <h1><%= @user.name %>さんのページ</h1>
      <% end %>
      </div>
  </div>
  <div class="row my-4">
    <div class="col-md-3 offset-md-3">
      <%= image_tag @user.get_profile_image(180, 180), class: "img-fluid" %>
    </div>
    <div class="col-md-6">
      <p><%= @user.name %></p>
      <p><%= @user.introduction %></p>
    </div>
  </div>
  <% unless current_user.guest_user? %>
    <h3 class="text-center mb-4"><%= @user.name %>さんが参加しているグループ</h3>
  <% end %>
  <div class="row">
    <% @user.groups.each do |group| %>
      <div class="col-md-3 mb-4">
        <div class='card h-100 d-flex flex-column'>
          <%= image_tag group.get_group_image(500,500), class: "card-img-top" %>
          <div class='card-body'>
            <h5 class='card-title'>
              <%= link_to_group(group) %>
            </h5>
            <p class='card-text'><%= group.body %></p>
          </div>
          <div class="mt-auto p-3">
            <span class="badge badge-warning"><%= group.genre.name %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <% unless current_user.guest_user? || !(@user == current_user) %>
        <%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary mr-2" %>
        <%= link_to "退会する", withdraw_user_path(current_user), data: { confirm: "本当に退会しますか？" }, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
